<%- include("partials/header") %>
<h1>SHOW TEMP</h1>

<p><%= campground.name %> </p>

<img src="<%= campground.image %>">
<p><%= campground.description %> </p>

<% campground.comments.forEach((comment)=>{ %>
    <p> <%= comment.author %> - <%= comment.text %> </p>
<% }) %> 

<%- include("partials/footer") %>