<%- include("../partials/header") %>
<h1>SHOW TEMP</h1>

<p><%= campground.name %> </p>

<img src="<%= campground.image %>">
<p><%= campground.description %> </p>

<p>
    <a class="btn btn-success" href="/campgrounds/<%= campground._id %>/comments/new">New Comment</a>
</p>
<% campground.comments.forEach((comment)=>{ %>
    <p> <%= comment.author %> - <%= comment.text %> </p>
<% }) %> 

<%- include("../partials/footer") %>